*.dll
*.log
*.toc
*.aux
*.gz
*.idx
*.ind
*.lof
*.lot
*.maf
*.mlf*
*.mtc
*.mtc*
*.toc
tabelle.terzo.mtc0
tabelle.terzo.mtc1
tabelle.terzo.mtc2
tabelle.terzo.mtc3
tabelle.terzo.mtc4
tabelle.terzo.mtc5
tabelle.terzo.mtc6
tabelle.terzo.mtc7
tabelle.terzo.mtc8
tabelle.terzo.mtc9
tabelle.terzo.pdf
tabelle.terzo.synctex.gz
macro_xlop.aux
simboli_operatori.aux
tabelle.primo.aux
tabelle.primo.idx
tabelle.primo.ilg
tabelle.primo.ind
tabelle.primo.lof
tabelle.primo.log
tabelle.primo.lot
tabelle.primo.maf
tabelle.primo.mlf1
tabelle.primo.mlf10
tabelle.primo.mlf11
tabelle.primo.mlf12
tabelle.primo.mlt1
tabelle.primo.mlt10
tabelle.primo.mlt11
tabelle.primo.mlt12
tabelle.primo.mlt13
tabelle.primo.mlt14
tabelle.primo.mlt15
tabelle.primo.mlt2
tabelle.primo.mlt3
tabelle.primo.mlt4
tabelle.primo.mlt5
tabelle.primo.mlt6
tabelle.primo.mlt7
tabelle.primo.mlt8
tabelle.primo.mlt9
tabelle.primo.pdf
tabelle.primo.tdo
tabelle.terzo.ilg
tabelle.terzo.mlt1
tabelle.terzo.mlt2
tabelle.terzo.mlt3
tabelle.terzo.mlt4
tabelle.terzo.mlt5
tabelle.terzo.mlt6
tabelle.terzo.mlt7
tabelle.terzo.mlt8
tabelle.terzo.tdo
